<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artcode.mapper.FollowMapper">
	<resultMap type="com.artcode.model.Follow" id="BaseResultMap">
		<id column="uuid" property="uuid" jdbcType="VARCHAR"/>
		<result column="subject_id" property="subjecId" jdbcType="VARCHAR"/>
		<result column="observer_id" property="observeId" jdbcType="VARCHAR"/>
		<result column="create_id" property="createId" jdbcType="VARCHAR"/>
		<result column="update_id" property="updateId" jdbcType="VARCHAR"/>
		<result column="update_date" property="updateDate" jdbcType="VARCHAR"/>
	</resultMap>
</mapper>